.slider{
  height: 100%;
}
.slider__tab{
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
}
.slider__tab__overlay{
  width:100%;
  height: 100%;
}
.slider__image{
  width:100%;
}
.slider__dots{
  text-align: center;

  position: absolute;
  bottom:80px;
  z-index:10;

  width: 100%;
}
.slider__dots li {
  display: inline-block;
  vertical-align: middle;
}
.slider__dots__line{
  width:50px;
  height: 2px;

  margin:5px;

  background-color: rgba(255,255,255,0.5);
}
.slider__dots__line__progress{
  width:0;

  background-color: #ffffff;
}
.slider__dots li.slick-active .slider__dots__line .slider__dots__line__progress{
  height: 100%;
  width: 100%;

  -webkit-transition: linear 3s;
  -moz-transition: linear 3s;
  -ms-transition: linear 3s;
  -o-transition: linear 3s;
  transition: linear 3s;
}
.slick-dots {
  bottom: -70px;
}
.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  color:#ffffff;
}
.slick-dots li button:before {
  font-size:10px;
}
.slick-list,
.slick-track{
  height: 100%;
}
.slick-prev,
.slick-next{
  height:40px;
  width:40px;
  position: absolute;
  z-index: 30;
}
.slick-prev{left:50px;}
.slick-next{right:50px;}
.slick-prev:before,
.slick-next:before{
  font-size:30px;
}
