.box--welcome.box-fullscreen{
  height: 100%;
}
.welcome__section {
  position: absolute;
  width: 100%;

  text-align: center;
}
.welcome__section--image {
  bottom: 150px;
}
.welcome__section--description {
  bottom: 220px;

  font-size: 16px;
}
.welcome__section--button { bottom:20px; }
.welcome__image{ width: 600px; }
.welcome__description { width: 430px; }
.welcome__scroll-link {
  font-size: 30px;

  color:#ffffff;

  cursor: pointer;
}
