.box--history .box__background .box__background__overlay {
  background-color: rgba(0,0,0,0.85);
}
.box--history .box__section.box__section-content {
  height: 60%;
}
.history .history-youtube{
  color:#ffffff;

  text-align: justify;
}
.history__section {
  margin:0 0 20px 0;

  font-size: 20px;
}

.history__youtube {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.history__youtube .box--history .box__background .box__background__overlay {
  background-color: transparent!important;
}

.history__youtube .box--history .box__background .box__background__overlay {
  background-color: transparent!important;
}

.history__title {
  display: inline-block;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
}

.history__section--youtube {
  width: 460px;
  margin-bottom: 50px;
  font-size: 18px;
  text-align: left;
}

.history__section-title {
  margin-bottom: 10px;
  font-weight: 400;
}